.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}
.singlePostImg{
    width: 1490px;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}
.singlePostEdit{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child {
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}
.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
    font-family:'Josefin Sans', sans-serif ;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.comment-flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment-text {
    margin: 12px 0;
    font-size: 1.60rem;
    font-weight: 600;
    font-family:'Josefin Sans', sans-serif ;
}
.input-box{
    height: 75px;
    width: 465px;
    background-color: #333;
    color: white;
    font-family:'Josefin Sans', sans-serif ;
    border-radius: 15px;
}
.comment-button {
    height: 40px;
    width: 80px;
    background-color: black;
    color: limegreen;
    font-size: 1.05rem;
    margin-top: 10px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    font-family:'Josefin Sans', sans-serif ;
}
.comment-container {
    height: 70px;
    width: 400px;
    background-color: #333;
    color: white;
    border-radius: 6px;
    margin: 10px 0;
    word-break: break-all;
    font-family:'Josefin Sans', sans-serif ;
  }
.deleteCom{
    height: 28px;
    width: 110px;
    background-color: black;
    color: limegreen;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    float:right;
    position: inherit;
    font-family:'Josefin Sans', sans-serif ;
  }